body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

$color1: #E9D37F;
$color2: #96C5F3;
$color3: #2893DA;
$color4: #FEB435;

h2 {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

.bity {
    background-color: $color3;
    border-radius: 0em;
    margin: 10px;
    color: white;
}

.lire {
    font-size: 1.5em;
    margin-left: 150px;
}

.arrow {
    width: 50%;
}

.hello {
    padding: 25px;
}

.brr {
    font-weight: bolder;
}

.resiz {
    width: 40%;
}

.hi {
    align-items: center;
}

.just {
    margin-left: 150px;
}

.hi2 {
    display: none;
}

.general {
    & .formInscription {
        background-image: url("../img/4.png");
    }

    & .formConnection {
        background-image: url("../img/4.png");
        position: relative;
        top: -500px;
        transform: rotateY(90deg);
    }

    margin-top: 100px;

    & .formInscription,
    & .formConnection {
        background-size: cover;
        padding: 3%;
        height: 500px;

        & .register-form {
            padding: 10%;
        }

        & .register-left {
            text-align: center;
            color: white;
            margin-top: 4%;

            & input {
                border: none;
                padding: 2%;
                width: 60%;
                background: #2893DA;
                font-weight: bold;
                color: #ffffff;
                margin-top: 10%;
                margin-bottom: 3%;
                cursor: pointer;
            }

            img {
                margin-top: 15%;
                margin-bottom: 5%;
                width: 25%;
                -webkit-animation: mover 2s infinite alternate;
                animation: mover 1s infinite alternate;
            }

            & p {
                font-weight: bold;
                padding-top: 12%;
                margin-top: -9%;
                font-size: 15px;
            }
        }

        & .register-right {
            background: #ffffff;
            border-bottom: 5px solid #2893DA;
            margin-top: 120px;
            margin-left: 44px;

            & .btnRegister {
                float: right;
                margin-top: 10%;
                border: none;
                padding: 2%;
                background: #2893DA;
                color: #fff;
                font-weight: 600;
                width: 50%;
                cursor: pointer;
            }

            & .register-heading {
                text-align: center;
                margin-top: 8%;
                margin-bottom: -15%;
            }

            & .form-control {
                border-radius: 0px;
                border: 0;
                outline: 0;
                border-bottom: 3px solid #2893DA;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .hi2 {
        display: block;
        margin-left: -59px;
    }
    .hi {
        display: none;
    }
}