 :root {
    --offwhite: #FCFDFF;
    --transwhite: rgba(255, 255, 255, 0.5);
    --blue: #038DFE;
    --blue2: #0677D3;
    --tranBlue: rgba(3, 141, 254, 0.70);
    --darkText: #2B2B2B;
    --darkBlue: #496174;
    --gray: #959494;
    --border: #8A8A8A;
    /*  */
    --light: #F2F6FA;
    --lighter: rgba(242, 246, 250, 0.5);
    --lightBorder: #EDF2F8;
    --txt: #6D7684;
    --txtLight: #A4ADBA;
    --txtDark: #52585E;
}

body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* #navbar {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#navbar img {
    width: 210px;
    margin-right: 100px;
    margin-left: 50px;
} */


.navText {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin: 0px 15px;
    font-size: 15px;
    margin-left: auto;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.navText:hover {
    color: #1a75ff;
}

.navBtns {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.navBout {
    background-color: transparent;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 13px;
    margin: 2px 3px;
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}

#navbtn1:hover {
    border: 1px solid blue;
    background-color: white;
    color: #0066ff;
    /*margin-left: auto;*/

}

#navbtn2:hover {
    border: 1px solid blue;
    color: white;
    background-color: none;
    /*margin-left: auto;*/
}

.navBtns {
    background-color: #0066ff;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 13px;
    margin: 2px 3px;
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}

#button {
    display: flex;
}

#comp1 {
    margin-bottom: 170px;
    display: flex;
    justify-content: center;
}

#comp1 img {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.comp1-txt {
        /* display: flex; */
        flex-direction: column;
        padding-left: 50px;
        width: 80%;
        font-family: Montserrat;
        margin-top: 150px;
        flex-direction: column;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }


#comp1-title {
    font-size: 36px;
    color: white;
    font-weight: 500;
}

#comp1-desc {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 18px;
    margin-top: 30px;
}

#comp2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 270px;
}

#comp2-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    letter-spacing: 5px;
    font-size: 50px;
    /* font-weight: 500; */
}

#comp2-txt {
    width:90%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.partiya {
    width: 1200px;
}

.blank {
    margin-top:20px;
    background-color: white;
    width: 100%;
    height:40px;
}

.blank2 {
    padding: 5%;
}
/* 
#comp3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
    width:90%;
    margin: auto;
}


.comp3-item {
    width: 18%;
    margin: 0 5px;
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.comp3-item img {
    object-fit: contain;
}

.comp3-title {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
    color: var(--darkBlue);
    margin-top: 20px;
}

.comp3-content {
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 100;
    margin-top: 20px;
    color: black;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
} */

.parag{
    display:flex;
    text-align:center;
    width:90%;
    margin: auto;
 
}

.parag div{
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

.parag h4{
   margin-top: 20px;
   font-family: montserrat;;
}

.parag p{
    margin: auto;
    line-height: 25px;
    letter-spacing: 2px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comp4 {
    background-color: #0066ff;
    margin-top: 50px;
    /*  */
    display: flex;
    flex-direction: row;
}

.comp4-item {
    background-color: #0066ff;
    width: 100%;
    height: 380px;
    font-family: Montserrat;
    color: white;
    letter-spacing: 2px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

/* .comp4-img {
    background-image: url('./img/pic.jpg');
    background-position: center;
    background-size: cover;

} */

.par {
    font-size: 14px;
    margin-top: 40px;
    width: 90%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: right;

}

.soustit {
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}   

#comp5 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comp5-title {
    font-family: Montserrat;
    color: black;
    letter-spacing: 5px;
    font-size: 36px;
}

#comp5-btn {
    font-family: Montserrat;
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
    padding: 20px 40px;
    background-color: #0066ff;
    border-radius: 99999px;
    box-shadow: 0px 0px 30px #0066ff;
    user-select: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

#comp5-btn:hover {
    background-color: transparent;
    color: #0066ff;
}

#comp6 {
    margin-top: 125px;
    display: flex;
    flex-direction: row;
}

.comp6-items {
    /* width: 50%; */
    height: 400px;
    /* margin-left: 400px; */
}

#comp6-left {
    background-color: #0066ff;
    /*  */
    display: flex;
    flex-direction: row;
}

.simp {
    position: center;
    width: 100%;

}

.simp img {
    width: 100%;
}

.pourcentage{
    background-color: #038dfe;
    height: 240px;
    width: 100%;
  }
#nmbr {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.prs{
    
      font-family: 'Montserrat';
      float: left; 
      text-align: center;
      width: 33.26%;
      color: white;
      font-size: 23px;
      letter-spacing: 0.08em;
      border-right: 1px dashed black;
  
  }
  .sponsors{
    height: 800px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: cente
  }
  .bref{
    width: 100%;
    /* padding-left:270px;
    padding-right:270px; */
    font-size: 16px;
    line-height: 150%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 15px;
}
  #cr{
    font-size: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #2b2b2b;
    margin-top: 100px;
    letter-spacing: 0.08em;
    text-align: center;
  }

#comp6-left-details {
    width: 270px;
    /*  */
    display: flex-container;
    flex-direction: column;
}

.comp6-left-data {
    width: 100%;
    height: 133px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    /*  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Montserrat;
}

.comp6-left-data:last-of-type {
    border-bottom: none;
}

.comp6-left-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

.comp6-left-desc {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    width: 230px;
    margin-top: 15px;
}

#comp6-right {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
}

#comp6-right span {
    margin-top: -25px;
}

#comp6-right img {
    object-fit: none;
    margin-top: 55px;
}

#Footer {
    width: 100%;
    height: 93px;
    background-color: $color1;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.footer-sections {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}

.footer-sections:last-of-type {
    align-items: flex-end;
}

.footer-sections:first-of-type {
    align-items: flex-start;
}

.footer-sections p {
    padding: 0;
    margin: 0;
}

#footer-email-cont {
    margin-top: 5px;
}

#footer-email {
    color: white;
    font-size: 14px;
    letter-spacing: 3px;
}

.footer-txt {
    font-size: 14px;
    color: gray;
    letter-spacing: 3px;
}

#Body {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-Form {
    width: 850px;
    height: 456px;
}

#login-title {
    font-size: 35px;
    font-family: Montserrat;
    font-weight: 600;
    color: navy;
}

#login-inputs-cont {
    display: flex;
    flex-direction: column;
}

.login-inputs {
    width: 737px;
    height: 63px;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid #0066ff;
    border-radius: 7.5px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 15px;
    font-family: Montserrat;
    color: #0066ff;
    outline: none;
}

.login-inputs:focus {
    border-color: #0066ff;
}

#login-btn {
    height: 46px;
    width: 156px;
    padding: 0;
    cursor: pointer;
    box-shadow: 0px 0px 10px #0066ff;

}

#login-btn:focus {
    border-color: #0066ff;
}

#login-btn:hover {
    border: 1px solid blue;
    background-color: #0066ff;
    color: white;
}

#login-txt {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.login-txt {
    font-size: 15px;
    font-family: Montserrat;
    color: navy;
}

#login-register {
    color: #0066ff;
    cursor: pointer;
}

h3 {
    color: #008AFF;
    font-size: 20px;
    margin-top: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Partie1 {
    margin: 60px;
    border: 4px solid rgb(163, 207, 245);
}

.parag1 {
    color: black;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: montserrat;
}

.table2 {
    border-color: gray;
    width: 1000;
    height: 300px;
    margin: 40px;
    margin-left: 300px;
    margin-left: 300px;
    border-collapse: collapse;
    box-shadow: 0px 0px 15px -6px rgb(255, 176, 255);

}


.titable p {
    color: rgb(146, 22, 22);
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.Formateur {
    border: 1px solid black;
    width: 180px;
    height: 200px;
    margin-left: 200px;
    margin-top: 50px;
}

.format {
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

.formateurs {
    display: flex;
}

.groups {
    display: flex;
    margin-left: 230px;
    text-decoration: underline;
    font-size: 30px;
    color: #496174;
}

.col1 {
    margin-right: 270px;
}

.col2 {
    margin-right: 270px;
}

#Body {
    height: 75%;
    width: 1130px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0 auto;
}

#userSection {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#userImg {
    width: 102px;
    height: 102px;
    /*background-color: black;*/
    background-image: url('./img/Formateur.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}

#userName {
    font-size: 25px;
    font-family: Montserrat;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 15px;
}

#data-section {
    margin-top: 60px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#above-table {
    display: flex;
    flex-direction: row;
}

#search {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

#search-inpt {
    width: 145;
    height: 36px;
    background-color: var(--offwhite);
    border: none;
    /* border-radius: 5px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    color: #0066ff;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.5px;
    outline: none;
}

#search-btn {
    display: flex;
    align-items: center;
    height: 36px;
    width: 20px;
    background-color: var(--light);
    color: var(--txt);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1px 0;
}

/*  */
#filter {
    margin-left: 50px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.5px;
}

#filter-title {
    color: var(--txtLight);
}

#filter-menu {
    margin-left: 5px;
    border-radius: 7.5px;
    height: 36px;
    border: 1px solid var(--txtLight);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

#filter-Menu-1 {
    color: var(--txt);
    text-decoration: underline;
}

#filter-Menu-2 {
    color: var(--darkText);
    margin-left: 3px;
}

/*  */
#table {
    margin-top: 30px;
    background-color: #038dfe;
}

#tableau {
    width: 100%;
    border-collapse: collapse;
}

#table-header {
    background-color: var(--light);
    border-bottom: 1px solid var(--lightBorder);
    color : black;
    box-sizing: border-box;
}

td {
    text-align: center;
    font-family: Roboto;
    font-weight: 500px;
    color: var(--txtLight);
}

#column-1 {
    width: 75px;
    border-top-left-radius: 7.5px;
    color: black;

}

#column-1 input {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid var(--txtLight);
}

#column-1 :checked {
    background-color: var(--blue);
    opacity: 0.5;
}

#column-2 {
    width: 256px;
    color: black;
}

#column-3 {
    width: 175px;
    color: black;
}

#column-4 {
    width: 420px;
    color: black;

}

#column-4 table {
    width: 100%;
}

#subComp {
    color: var(--txtDark);
}

#column-5 {
    border-top-right-radius: 7.5px;
    color: black;

}

/*  */
#subRow {
    display: flex;
    flex-direction: row;
}

.subCols {
    flex: auto;
    text-decoration: underline;
    /* width: auto; */
}

/*  */
.list {
    height: 55px;
    border-bottom: 1px solid var(--lightBorder);
    border-left: 1px solid var(--lightBorder);
    border-right: 1px solid var(--lightBorder);
    box-sizing: border-box;
    user-select: none;
}

.list:hover {
    background-color: var(--lighter);
}

.table-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.table-user-img {
    width: 38px;
    height: 38px;
    border-radius: 100%;
}

.txt{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table-user-name {
    margin-left: 15px;
    color: var(--darkText);
}

/*  */
.subCols input {
    width: 25px;
    height: 25px;
    /* padding: 0 5px; */
    box-sizing: border-box;
    background-color: white;
    border: 2px solid var(--lightBorder);
    border-radius: 4px;
    text-align: center;
    color: var(--blue);
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
    outline: none;
}

.container img{
    position: fixed;
    left: 145px;
    width: 40x;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    z-index: 1;
}
.container {
    position: fixed;
    background-color: black;
    border-bottom: 2px solid #000000;
    text-align: right;
    height: 70px;
    width: 100%;
    line-height: 70px;
    z-index: 1;
}

.titl {
    font-size: 36px;
    font-weight: 500;
    margin-top: 45px;
}

.menu{
    margin: 0 140px 0 0 ;
   }
   
.menu a
{   
    color: white;
    font-size: 14px; 
    margin: 0 30px 0 20px;
    line-height: 60px;
    text-decoration: none;
}

label{
    color: white;
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle{
    display:none;
}

@media only screen and (max-width: 1100px){
    label {
        display: block;
        cursor: pointer;
    }

    .menu img{
    position: fixed;
    left: 175px;
    top:6px;
    width: 40x;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    }

    .menu  {
    text-align: center;
    width: 100%;
    display: none;
    }


    .menu a {
    display:block;
    border-bottom:1px solid #EAEAEB;
    margin:0;
    background-color: black;
    color: white;
    text-align: center;
    }

    #toggle:checked + .menu{
    display: block;     
    }

    #navbtn1 {
    background-color:#038DFE;
    color: white;
    border: 0px;
    /* font-size: 20px; */
    padding: 10px;
    border-radius: 20px;
    width:200px;
    margin: auto; 
    }

    #comp1 img{ 
        width: 100%;
        margin-top:70px;
    }

    #button {
        margin: auto;
    }
    .partiya {
        width: 100%;
    }
    .parag{
        margin-top:40px;
        flex-direction: column;
     
    }
    .soutitl {
        margin-right: 10px;
    }

    .prs {
        display: inline-table;
    }
    .bref{
        width: 90%;
        text-align: center;
        font-size: 16px;
        line-height: 150%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 15px;
    }
    #comp2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
}